<center>
<h3><%= @test.title %>(<%= @totalPoints %>points)</h3>
</center>

<%= form_with url: student_test_doing_tests_path(@student.id, @test.id) do |f| %>
	<div class="questions">
		<% questNum = 1 %>
		<% @test.questions.each do |question| %>

			<div class="question">
				<%= questNum %>) <%= question.content %>(<%= question.points %>pts)<br>
			</div>

			<div class="option container">
				<% question.options.each do |option| %>
		   
		            <div class="row">
		            	<div class="col-md-1">
		            	<input type="radio" name="opt<%= question.id %><%= questNum %>" id="opt<%= option.id %><%= questNum %>"  value="<%= option.content %>">
		            	</div>
		            	<div class="col-md-1">
		            		<label for="opt<%= option.id %><%= questNum %>" style="position: relative; top: -3px;">
		            		<span><%= option.content %></span></label>
		            	</div>
		            </div>
		            

				<% end %>
			</div>

			<% questNum += 1 %>

		<% end %>
	</div>
	<%= f.submit "Result" %>
<% end %>