<div id="student_form" class="<%= action_name %>_student col-md-6 col-sm-6">
    <% if action_name == "new" %>
    <div class="link_to_new_student btn btn-light">
        <h3>S'inscrire en tant que nouvel élève</h3>
    </div>
    <% end %>
    <div class="student_form">
        <%= form_with(model: student, multipart: true) do |f| %>
        <div class="names row">
            <div class="firstname col-md-6">
                <%= f.label :last_name, "Nom" %>
                <%= f.text_field :last_name, placeHolder: Faker::Name.last_name, autocomplet: 'last_name', required: ""%>
            </div>
            <div class="lastname col-md-6">
                <%= f.label :first_name, "Prénom" %>
                <%= f.text_field :first_name, placeHolder: Faker::Name.first_name, autocomplet: "first_name", required: ""%>
            </div>
        </div><br>
        <div class="row">
            <div class="birthdate col-md-6">
                <%= f.label :date_of_birth,  "Date de naissance" %>
                <%= f.date_field :date_of_birth, placeHolder: "Date-de-naissance", autocomplet: 'date_of_birth' %>
            </div>
            <div class="address col-md-6" style="">
                <%= f.label :address, "Address" %>
                <%= f.text_field :address, placeHolder: Faker::Address.street_address, autocomplet: 'address', required: ""%>
            </div>
        </div><br>
        <div class="location row">
            <div class="city col-md-6">
                <%= f.label :city,  "Ville" %>
                <div class="">
                    <select name="city" id="state_teacher">
                        <option value="Antananarivo">Antananarivo</option>
                        <option value="Toamasina">Toamasina</option>
                        <option value="Mahajanga">Mahajanga</option>
                        <option value="Fianarantsoa">Fianarantsoa</option>
                        <option value="Toliara">Toliara</option>
                        <option value="Antsiranana">Antiranana</option>
                        <option value="Autre">Autre</option>
                    </select>
                    <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                </div>
            </div>
            <div class="est col-md-6">
                <%= f.label :educational_establishment, "Etablissement scolaire" %>
                <select name="educational_establishment" id="educational_establishment">
                    <% EducationalEstablishment.all.each do |est| %>
                    <option>
                        <%= est.title %>
                    </option>
                    <% end %>
                    <option>Autre</option>
                </select>
            </div>
        </div><br>
        <div class="">
            <%= f.label :country, "Pays" %>
            <select name="country" id="country">
                <% CS.countries.each do |key, country| %>
                <option>
                    <%= country %>
                </option>
                <% end %>
            </select>
        </div><br>
        <div class="row">
            <div class="subject col-md-6">
                <%= f.label :subject, "Matière préferée" %>
                <select name="subject" id="subject">
                    <% Subject.all.each do |subject| %>
                    <option>
                        <%= subject.title %>
                    </option>
                    <% end %>
                </select>
            </div>
            <div class="level col-md-6">
                <%= f.label :level, "Classe actuelle" %>
                <select name="level" id="level">
                    <% Level.all.each do |level| %>
                    <option>
                        <%= level.title %>
                    </option>
                    <% end %>
                </select>
            </div>
        </div><br>
        <% if action_name == 'edit' %>
        <div>
            <h3>Changer la photo de profil</h3>
            <div style="max-width: 100px; max-height: 100px;">
                <% if current_user.avatar.present? %>
                <%= image_tag (current_user.avatar), width: '100%', height: '100%' %>
                <% end %>
            </div><br>
            <%= f.file_field :avatar %>
            <%= f.hidden_field :avatar_cache %>
        </div><br>
        <% end %>
        <div class="submit">
            <%= f.submit class: "submit" %>
        </div>
        <% end %>
    </div>
</div>