<div class="">
    <div class="">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Etablissement</th>
                    <th>Scores</th>
                    <th>Tests</th>
                </tr>
            </thead>
            <tbody class="table-light">
                <tr>
                    <td>
                        <%= @student.last_name %>
                    </td>
                    <td>
                        <%= @student.first_name %>
                    </td>
                    <td>
                        <%= @student.educational_establishment.title %>
                    </td>
                    <td>
                        <%= @student.score %>
                    </td>
                    <td>
                        <%= @student.tests.length %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <% if he_has_done_one_test %>
    <div class="container">
        <div class="stats">
            <center>
                <h1><a href="/students/<%= current_student.id %>/results" class="btn btn-light"><i class="fa fa-chart-bar"> Ma progression</i></a></h1>
            </center>
            <% Subject.all.each do |subject| %>
            <% if subject_purcentage(subject) != 0 %>
            <span>
                <%= subject.title %></span>
            <div class="progress">
                <div class="pourcentage" value="<%= subject_purcentage(subject) %>"></div>
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= subject_purcentage(subject) %>%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <% end %>
            <% end %>
        </div>
    </div>
    <% end %>
</div>