<div class="">
    <div class="">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Etablissement</th>
                    <th>Scores</th>
                    <th>Tests</th>
                </tr>
            </thead>
            <tbody class="table-light">
                <tr>
                    <td>
                        <i class="fas fa-file-signature"> <%= @student.last_name %></i>
                    </td>
                    <td>
                        <i class="fas fa-file-signature"> <%= @student.first_name %></i>
                    </td>
                    <td>
                        <i class="fas fa-school"> <%= @student.educational_establishment.title %></i>
                    </td>
                    <td>
                        <i class="fa fa-star"> <%= @student.score %></i>
                    </td>
                    <td>
                        <i class="fa fa-copy"> <%= @student.tests.length %></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <% if he_has_done_one_test %>
    <div class="container">
        <div class="stats">
            <center>
                <h1><a href="/students/<%= current_student.id %>/results" class="btn btn-light"><i class="fa fa-chart-bar"> Ma progression</i></a></h1>
            </center>
            <% accomplished_tests.each do |tst| %>
            <% if subject_purcentage(tst.subject) != 0 %>
            <span>
                <%= tst.subject.title %></span>
            <div class="progress">
                <div class="pourcentage" value="<%= subject_purcentage(tst.subject) %>"></div>
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= subject_purcentage(tst.subject) %>%" aria-valuenow="<%= subject_purcentage(tst.subject) %>" aria-valuemin="0" aria-valuemax="100"><%= subject_purcentage(tst.subject).to_i %>%</div>
            </div>
            <% end %>
            <% end %>
        </div>
    </div>
    <% end %>
</div>