<section class="section_home">
    <div class="ig">
        <img src="../assets/pierrot.gif">
    </div>
    <div class="content-header" style="position: relative; left: 7%;">
        <div data-aos="fade-down-right" data-aos-duration="1000">
            <h3>Surpasse toi en relèvant nos défis...</h3>
        </div>
        <div class="link_button">
            <% unless user_signed_in? %>
            <div data-aos="zoom-in" data-aos-duration="1000">
                <a data-method="GET" href="/users/sign_in" class="link_connexion first_link">
                    <i class="fas fa-sign-in-alt"> Se connecter</i></a>
            </div>
            <% else %>
            <div data-aos="zoom-in" data-aos-duration="1000">
                <a data-method="GET" href="#" class="link_connexion">
                    Essayer</a>
            </div>
            <% end %>
        </div>
    </div>
</section>
<section class="first_section">
    <div style="margin: 0 10px;">
        <h3><strong>L'éducation est l'arme la plus puissante qu'on puisse utiliser pour changer le monde.</strong></h3>
    </div>
    <!-- canvas  -->
    <div data-aos="fade-right" data-aos-duration="1000">
        <div class="sectionround">
            <div class="section_one">
                <canvas class="loader">
                </canvas>
                <span class="success">
                    Nos ressources
                </span>
            </div>
            <div class="section_one">
                <canvas class="loadertwo"> </canvas>
                <span class="efficiency">
                    Vos efforts
                </span>
            </div>
            <div class="section_one">
                <canvas class="loaderthree"> </canvas>
                <span class="reference">
                    Garantie d'apprentissage
                </span>
            </div>
        </div>
        <% unless user_signed_in? %>
        <div class="btn">
            <a data-method="GET" href="/users/sign_up"><button type="button"> Lancez vous </button></a>
        </div>
        <% end %>
    </div>
    <!-- end canvas html -->
</section>
<div>
    <section class="second_section">
        <div>
            <h3><strong>Nos étudiants</strong></h3>
            <hr class="trait_two">
        </div>
        <div class="student_section">
            <% 4.times do |s| %>
            <div class="student" data-aos="zoom-in" data-aos-duration="500" style="background: url('<%= students_images[s] %>') center no-repeat; background-size: cover;">
                <div class="student_one_love">
                    <span class="glyphicon glyphicon-heart">
                    </span>
                </div>
            </div>
            <% end %>
        </div>
    </section>
    <section class="third_section">
        <div>
            <h3><strong>Nos professeurs</strong></h3>
            <hr class="trait_two">
        </div>
        <div class="teacher">
            <% nos_profs.each do |t| %>
            <div class="teacher_section">
                <div class="image_teacher" data-aos="zoom-in" data-aos-duration="1000" style="background: url(<%= t[:logo_url] %>) center no-repeat; background-size: cover;">
                </div>
                <div class="commit_teacher" data-aos="zoom-in" data-aos-duration="2000">
                    <h4>
                        <%= t[:firstname] %>,
                        <%= t[:speciality] %>
                    </h4>
                    <p>Learning Game a dépassé nos attentes. La progression de nos élèves est étonnante</p>
                </div>
            </div>
            <% end %>
        </div>
    </section>
    <section class="four_section">
        <div>
            <h3><strong>Nos Futurs partenaires</strong></h3>
            <hr class="trait_two">
        </div>
        <center>
            <div class="establishment" data-aos="fade-up-left" data-aos-duration="1000">
            <% @ests.length.times do |e| %>
            <div class="">
                <div style="background: url(<%= establishments_images[e] %>) center no-repeat; background-size: cover;" class="img_establishment">
                </div>
            </div>
            <% end %>
            </div>
        </center>
        
    </section>

<section class="five_section" id="team">
    <div>
        <h3><strong>Notre équipe</strong></h3>
        <hr class="trait">
    </div>
    <div class="swiper-container" data-aos="zoom-in-left">
        <div class="swiper-wrapper">
            <% project_owners.each do |m| %>
            <div class="swiper-slide">
                <div class="imgslide">
                    <img src="<%= m[:logo_url] %>">
                </div>
                <div class="information">
                    <span>
                        <%= m[:firstname] %><br>
                        <%= m[:speciality] %> </span>
                </div>
            </div>
            <% end %>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</section>