<div class="">
    <% if @results.length != 0 %>
    <h1><a href="#stats">Mes stats</a></h1> 
    <% end %>
    <% @results.each do |tst| %>
    <center>
        <% 
			n = 1 
			totalPoints = 0
			tst.questions.each do |question|
				totalPoints += question.points 
			end
		%>
        <%= tst.title %>
    </center>
    <ul>
        <% tst.questions.each do |question| %>
        <strong>
            <%= n %>)
            <%= question.content %>(
            <%= question.points %>pts)</strong>
        <ul>
            <% question.options.sort_by{ |i| i }.each do |option| %>
            <li class="<%= option.status %>">
                <% if option.status == "Right_answer" %>
                <strong><%= option.content %></strong>
                <i class="fas fa-check"></i>
                <% elsif option.status == "Correct" %>
                <strong><%= option.content %></strong>
                <i class="far fa-hand-point-right"></i>
                <% elsif option.status == "Wrong_answer" %>
                <strong><%= option.content %></strong>
                <i class="fas fa-times"></i>
                <% else %>
                <%= option.content %>
                <% end %>
            </li>
            <% end %><br>
        </ul>
        <% n += 1 %>
        <% end %>
    </ul>
    <center>
        Ton score :
        <%= tst.score %>/<%= totalPoints %>
    </center>
    <% end %>
    <h1 id="stats" class="stats">Stats</h1>
    <% bar_chart @results.top(:score, 10) %>
    <%= test_by_score %>
</div>