<div class="center" style="line-height: 2;">
<!--     <div class="col-md-6">
        <div class="">
            <div class="">
                <div class="">
                    <%= @teacher.first_name %>
                    <%= @teacher.last_name %>
                </div>
            </div>
            <div class="">
                <a href="#" class="btn btn-dark"><i class="fas fa-user-edit"> Editer mon profil</i></a>
                
            </div>
        </div>
    </div> -->
    <div class="">
        <table class="table" style="text-align: center;">
            <tr>
                <th class="table-primary" style="text-align: center;">
                    <a href="/teachers/<%= @teacher.id %>/tests/new" class="btn btn-outline-success"><i class="fas fa-notes-medical"> Créer un nouveau test</i></a>
                </th>
            </tr>
            <tr>
                <th class="table-light">Matière enseignée:</th>
                <td class="table-primary">
                    <%= @teacher.subject.title %>
                </td>
            </tr>
            <tr>
                <th class="table-light">
                    Nombre de tests crées:
                </th>
                <td class="table-primary">
                    <%= @teacher.tests.length %>
                </td>
            </tr>
            <tr>
                <th class="table-light">
                    Nombre de mes élèves:
                </th>
                <td class="table-primary">
                    <%= my_students %>
                </td>
            </tr>
            <tr>
                <th class="table-light">
                    Les élèves de mon établissement
                </th>
                <td class="table-primary">
                    <%= current_teacher.students.length %>
                </td>
            </tr>
        </table>
    </div>
</div>