<header>
    <div class="login_and_signup login_page">
        <div class="loginbox">
            <h2>Connectez vous</h2>
            <%= form_tag(action: :create, url: user_session) do %>
            <div class="inputloginbox">
                <%= text_field_tag :login, Faker::Internet.username, required: "" %>
                <%= label_tag :login, "Email ou pseudo" %><br />
            </div>
            <div class="inputloginbox">
                <%= password_field_tag :password, "000000", required: "" %>
                <%= label_tag :password, "Mot de passe" %><br />
            </div>
            <div class="link_connexion">
                <div>
                    <div>
                        <%= submit_tag "Connexion" %>
                    </div>
                    <div class="two_link">
                        <div class="link">
                            <% if devise_mapping.rememberable? %>
                            <%= check_box_tag :remember_me %>
                            <%= label_tag :remember_me, "Se souvenir de moi" %>
                            <% end %>
                        </div>
                        <div>
                            <span><label><a href="/users/password/new">Mot de passe oublié ?</a></label></span>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</header>
<div class="links" style="text-align: center; background: black; opacity: .8;">
  <%= render "devise/shared/links" %>
</div>