<% if user_signed_in? %>
<div class="user_form">
    <div class="row">
        <div class="right col-md-10">
            <div class="description jumbotron">
                <h1 style="text-align: center;">
                    <% if action_name == 'show' %>
                        <% if (controller_name == "students" || controller_name == "teachers") %>
                            <%= user.last_name %> <%= user.first_name %>
                        <% else %>
                            Bienvenue <%= current_user.username %>
                        <% end %>
                    <% elsif action_name == 'edit' %>
                        Editer
                        <% if controller_name == "students" %>
                            mon profil élève
                        <% else %>
                            mon profil utilisateur
                        <% end %>
                    <% elsif action_name == "index" %>
                        Tous
                        <% if controller_name == "tests" %>
                            les tests
                        <% elsif controller_name == "games" %>
                            mes jeux
                        <% end %>
                    <% elsif action_name == "new" %>
                        Nouveau
                        <% if controller_name == "doing_tests" %>
                            test
                        <% elsif controller_name == "tests" %>
                            test
                        <% end %>
                    <% else %>
                        <%= controller_name %> : <%= action_name %>
                    <% end %>
                </h1>
            </div>
        </div>
        <div class="left col-md-2">
            <div class="logo">
                <%= image_tag (current_user.avatar.attached? ? current_user.avatar : 'profile-2398782_960_720.png'), width: '100%', height: '100%' %>
            </div>
            <div class="links">
                <ul>
                    <% if current_user.status == "Guest" %>
                        <li>
                            <%= link_to new_student_url do %>
                                <i class="fas fa-user-graduate"> Nouvel élève</i>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to new_teacher_url do %>
                                <i class="fas fa-chalkboard-teacher"> Nouveau professeur</i>
                            <% end %>
                        </li>
                    <% end %>
                    <li>
                        <%= link_to current_user do %>
                            <i class="fas fa-user"> Espace utilisateur</i>
                        <% end %>
                    </li>
                    <% if current_user.status == "Student" %>
                    <li>
                        <%= link_to current_student do %>
                            <i class="fas fa-user-graduate"> Espace etudiant</i>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to student_tests_path(current_student.id) do %>
                        <i class="fas fa-sync"> Tests disponibles</i>
                        <% end %>
                    </li>
                    <% if current_student.tests.length != 0 %>
                    <li>
                        <%= link_to student_results_path(current_student) do %>
                        <i class="fas fa-poll-h"> Mes résulats</i>
                        <% end %>
                    </li>
                    <% end %>
                    <li>
                        <%= link_to edit_student_path(current_student) do %>
                            <i class="fas fa-user-edit"> Editer mon profil</i>
                        <% end %>
                    </li>
                    <% elsif current_user.status == "Teacher" %>
                    <li>
                        <%= link_to current_teacher do %>
                            <i class="fas fa-chalkboard-teacher"> Mon espace prof</i>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to edit_teacher_path(current_teacher) do %>
                            <i class="fas fa-user-edit"> Editer mon profil</i>
                        <% end %>
                    </li>
                    <% if current_teacher.tests.length != 0 %>
                    <li>
                        <%= link_to teacher_tests_path(current_teacher) do %>
                            <i class="fas fa-file-alt"> Mes tests</i>
                        <% end %>
                    </li>
                    <% end %>
                    <% end %>
                    <li>
                        <%= link_to edit_user_registration_path do %>
                            <i class="fas fa-user-cog"> Paramètre de compte</i>
                        <% end %>
                    </li>
                    <li class="disabled" type="disabled">
                        <%= link_to user_games_path(current_user) do %>
                            <i class="fas fa-chess"> Game Space</i>
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<% end %>