<!DOCTYPE html>
<html>
  <head>
    
    <%= render 'layouts/head' %>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <%= render 'layouts/login_modal' %>
    <%= render 'layouts/register_modal' %>
    <%= render 'layouts/side_navbar' %>

    <div id="main">


      <div id="search_result" class="search_result collapse" style=""> 
      </div>

      <div id="yield">
    	  <%= yield %>
      </div>


      <!-- <br><br><br><br><br><br>
      
      <div id="log"></div> -->
    	
    </div>


    <%= render 'layouts/footer' %>
  </body>
</html>
