<!DOCTYPE html>
<html>
  <head>
    
    <%= render 'layouts/head' %>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <%= render 'layouts/login_modal' %>
    <%= render 'layouts/register_modal' %>
    <%= render 'layouts/side_navbar' %>
    <%= render 'user/form' if controller_name != 'home' && controller_name != 'devise' %>
    <%= render 'layouts/loading' if action_name == "new" && controller_name != 'sessions' %>

    <div id="main">

      <%= render 'layouts/search_result' %>
      <div class="row">
        <div id="yield" <% if user_signed_in? && controller_name != 'home' %> class="users_content col-md-9" <% end %> style="width: 100%;" >

      	  <%= yield %>
        
        </div>
        <div class="col-md-3"></div>
      </div>

      <div id="chevron" class="chevron" style="position: fixed; top: 40%; left: -.5%;font-size: 7em;"><i onclick="openNav()" class="fas fa-caret-right" style="width: 100%; height: 100%;"></i></div>


      <!-- <br><br><br><br><br><br>
      
      <div id="log"></div> -->
    	
    </div>


    <%= render 'layouts/footer' %>
  </body>
</html>
